/hola_mundo/nbproject/private/
/Pruevascodigo.../nbproject/private/
/Pruevascodigo.../build/Debug/
/Pruevascodigo.../dist/Debug/
/redes_neuronales/nbproject/private/
/redes_neuronales/build/Debug/
/redes_neuronales/dist/Debug/
/caluclo_del_oro/nbproject/private/
/caluclo_del_oro/dist/Debug/
/caluclo_del_oro/build/Debug/